{% extends 'master.html' %}
{% block title %}
    Blogs
{% endblock %}
{% block contentsection %}
{% load static %}
<div class="container">
    <hr>
      <div class="row text-center">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h4><a href="{% url 'login' %}">Home</a></h4>
                </div>                 
                <div class="col">
                    <h4><a href="{% url 'logout' %}">Logout {{request.user.first_name}}</a></h4>
                </div>                 
          </div>
        </div>
      </div>
    <hr>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Sr. no</th>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js_logic/list.js' %}"></script>
<script src="{% static 'js_logic/create.js' %}"></script>
<script>
    // list
    var list_data;
    function list(){
        listFullUrlFunction("/api/v1/product/cart/", getData)
    }
    list()
    
    function getData(data){
        setTimeout(()=>{
            this.list_data = JSON.parse(data)

            data = this.list_data.customer_cart_product
            console.log('data', data)
            $.each(data, function(index, value) {
                var srno = parseInt(index + 1)
                var table = '<tr><td>'+srno+'</td><td><img width="40" src="'+value.product.icon+'"></td><td class="text-capitalize">'+value.product.name+'</td><td>'+value.product.price+'</td></tr>'   
                
                $('#tbody').append(table)
            })
        },100)
    }


    // GET PRODUCTS IN CART
</script>
{% endblock %}